@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}

<div id="form-login">
    <form action="/Account/Login" method="post">
        <legend>Login</legend>
        <div class="form-group">
            <input id="username-email" name="Email" placeholder="E-mail or Phone" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input id="password" name="Password" placeholder="Password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><strong> Remember me</strong>
                    </label>
                    <a ui-sref="ForgotPassword" class="forgot-pass" href="/Account/ForgotPassword">Forgot password?</a>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-success btn-login-submit" value="Login">
        </div>

        <p>
            Not a Member? <a href="/Account/register">Register Now</a>
        </p>
    </form>
</div>
